body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #24a7aa;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #24a7aa;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #e4fcfc;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante,
#cardapio {
    background-color: #e4fcfc;
}

.text-colored {
    color: #24a7aa;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #24a7aa;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #24a7aa;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}





#produtos img {
    max-height: 275px;
}

#produtos h5,
#produtos p {
    text-align: center;
}

@media (max-width: 767px) {
    .carousel-item img {
        max-height: 280px;
    }
    #produtos img {
        max-height: 1000px;
    }
   
}

@media (min-width: 768px){
    .container-img {
        width: 100%;
        max-height: 235px;
        object-fit: cover;
    }

    .container-img img {
        width: 100%;
        max-height: 235px;
        display: block;
    }
}